
body {
        font-family: 'Arial', sans-serif;
        margin: 0;
        padding: 0;
        background-color: black;
        color: white;
    }

    header {
        background-color: #333;
        color: white;
        text-align: center;
        padding: 1px;
    }

    nav {
        background-color: #444;
        padding: 1em;
        text-align: center;
    }

    nav a {
        color: #fff;
        text-decoration: none;
        padding: 1em;
        margin: 0 0em;
        transition: color 0.3s ease;
    }

    nav a:hover {
        color: #ddd;
    }

    section {
        padding: 2em;
    }

    .story-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 20px;
    }

    .story-part {
        border: 0px solid #ddd;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }



    .story-content {
        padding: 1em;
        background-color: #333;
        color: white;
        border-radius: 8px;
        margin-top: 1em;
    }

    .story-content h3 {
        color: #fff;
    }

    #contact {
        background-color: #333;
        color: white;
        padding: 2em;
    }

    form {
        max-width: 600px;
        margin: 0 auto;
    }

    label {
        display: block;
        margin-bottom: 0.5em;
        color: #fff;
    }

    input,
    textarea {
        width: 100%;
        padding: 0.5em;
        margin-bottom: 1em;
        border: 1px solid #fff;
        border-radius: 4px;
        color: #333;
    }

    button {
        background-color: #fff;
        color: #333;
        padding: 0.4em 4em;
        border: none;
        border-radius: 7px;
        cursor: pointer;
        transition: background-color 0.9s ease;
    }

    button:hover {
        background-color: red;
    }

    footer {
        background-color: #333;
        color: #fff;
        text-align: center;
        padding: 2em;
        bottom: 0;
    }
    
img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px; 
    border-radius: 9px; 
    box-shadow: 9 5 10px rgba(13, 98, 5, 1.3); 
   
